server:
  port: 8095
  servlet:
    context-path: /delta-notification
    encoding:
      charset: UTF-8
      enabled: true
spring:
  mail:
    host: ${MAIL_HOST:}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: ${MAIL_SMTP_AUTH:}
          starttls:
            enable: ${MAIL_SMTP_STARTTLS_ENABLE:}
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
        transport:
          protocol: ${MAIL_TRANSPORT_PROTOCOL:}
    username: ${MAIL_USERNAME:}
    port: ${MAIL_SMTP_PORT:}
    default-encoding: UTF-8
  messages:
    basename: static/i18n/message
  devtools:
    add-properties: false
logging:
  config: classpath:log4j-spring.xml
folder:
  temporary: /tmp